.games-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 25px;
}

@media screen and (max-width: 840px) {
    .games-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .games-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.game {
    border: 5px solid #222222;
    border-radius: 10px;
    background-color: #222222;
    padding: 0;
    height: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: opacity 0.5s, transform 1s;
}

.game img {
    max-height: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 100%;
}

.game:hover {
    opacity: 85%;
    transform: scale(1.02);
}

.new-game {
    border-color: red;
    background-color: red;
    animation: new-flash 2s infinite ease-in-out;
}

@keyframes new-flash {
    0% {
        border-color: red;
        background-color: red;
    }
    50% {
        border-color: hotpink;
        background-color: hotpink;
    }
    100% {
        border-color: red;
        background-color: red;
    }
}

.new-game::after {
    content: " (NEW!)";
}
